<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>

		<Logger name="devopsTools.application" level="trace" />

		<logger name="org.apache.catalina.startup.DigesterFactory"
			level="ERROR" />
		<logger name="org.apache.catalina.util.LifecycleBase"
			level="ERROR" />
		<logger name="org.apache.coyote.http11.Http11NioProtocol"
			level="WARN" />
		<logger name="org.apache.sshd.common.util.SecurityUtils"
			level="WARN" />
		<logger name="org.apache.tomcat.util.net.NioSelectorPool"
			level="WARN" />
		<logger
			name="org.eclipse.jetty.util.component.AbstractLifeCycle"
			level="ERROR" />
		<logger name="org.hibernate.validator.internal.util.Version"
			level="WARN" />

	</Loggers>
</Configuration>